.item {
  height: 50px;
  border: 1px solid;
  border-right: none;
  /* border-top: none; */
  /* border-left: none; */
  border-bottom: none;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.item:nth-child(8) {
  background-color: red;
} 