.parent {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  /* gap: 50px; */
}

.item {
  height: 50px;
  border: 1px solid;
}

.item:nth-child(-n + 3) {
  border-top: none;
  /* border-bottom: none; */
}

.item:nth-child(3n) {
  border-right: none;
  /* border-left: none; */
}

.item:nth-child(3n + 1) {
  /* border-right: none; */
  border-left: none;
}

.item:nth-last-child(-n + 3) {
  border-bottom: none;
  /* border-top: none; */
}

.item ::after {
 content: 'x';
}
